body, html {
  height: 100%;
}
*,
::after,
::before {
  box-sizing: border-box;
}
* {
  margin: 0;
}
/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
html {
  font-size: 100%;
} /*16px*/

:root {
  --primary: #664EFC;
  --hover:#806BFF;
  --grey:#747474;
  --transition: 0.3s ease-in-out all;
  --headingFont: 'Roboto', sans-serif;
  --bodyFont: 'Nunito', sans-serif;
  --max-width:1170px;
}

h1 {
  font-family: var(--headingFont);
  font-size: 32px;
}

h2 {
  font-family: var(--headingFont);
}

p {
  font-size: 14px;
  font-family: var(--bodyFont);
  letter-spacing: 0.5px;
}

button {
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
}
ul{
  padding: 0;
}
li {
  font-family: var(--bodyFont);
  list-style: none;
}

.page {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}

.gradient-background {
  background: url(../images/gradient-background.png) no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
}

.nav-header {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header img {
  width: 150px;
}

.nav-btn {
  padding: 5px 10px;
  background-color: var(--primary);
  color: white;
}

.nav-links {
  height: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  transition: var(--transition);
}

.show-links {
  height: 220px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 20px -20px;
}

.nav-link {
  display: block;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  transition: var(--transition);
  font-family: var(--headingFont);
  color: black;
}

.nav-link:hover {
  color: #664EFC;
} 

.signup-btn {
  padding: 15px 10px;
  font-size: 18px;
  background-color: var(--primary);
  color: white;
  transition: var(--transition);
  cursor: pointer;
  font-family: var(--headingFont);
}
.signup-btn:hover {
  background-color: var(--hover);
}


@media screen and (min-width: 768px) {
  .navbar{
    height: 70px;
  }
  .nav-center{
    display: flex;
    align-items: center;
  }
  .nav-header {
    padding: 0;
    height: auto;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    height: auto !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  .nav-link {
    padding: 0;
    border-top:none;
    margin-right: 25px;
    color: black;
  }
  .hide {
    display: none;
  }
}

/* Homepage section*/

.hero-section {
  padding: 20px 0px;
}
.hero-image {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.hero-content h1 {
  margin-bottom: 20px;
}

.hero-content p {
  color: #747474;
  font-weight: 100;
  margin-bottom: 20px;
}

.hero-signup-btn {
    padding: 12px 8px;
    font-size: 12px;
    background-color: var(--primary);
    color: white;
    transition: var(--transition);
    cursor: pointer;
    font-family: var(--headingFont);
}

.hero-avatar {
  width: 30vw;
  margin: 0;
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 46px;
  }
  p {
    font-size: 20px
  }
  .hero-signup-btn {
    padding: 14px 10px;
    font-size: 14px;
  }
  .hero-avatar {
    width: 18vw;
  }
}

@media screen and (min-width: 1080px) {
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 18px;
  }
  .hero-section {
    display: flex;
    flex-direction: row-reverse;
  }
  .hero-content h1 {
    padding-bottom: 20px;
  }
  .hero-image {
    width: 40%;
  }
  .hero-content {
    width: 60%;
    margin: auto;
  }
  .hero-signup-btn {
    padding: 16px 12px;
    font-size: 14px;
  }
  .hero-avatar {
    width: 12vw;
    padding: 20px 0px;
  }
}

/* Info section*/

.info-image-1 {
  width: 90vw;
  margin: 0 auto;
  padding: 20px 0px;
}

.info-content h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
.info-content p {
  font-size: 14px;
  font-weight: 100;
  color: #747474;
  margin-bottom: 10px;
}

.info-link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-family: var(--bodyFont);
  font-weight: bold;
  color: var(--primary);
  font-size: 14px;
  transition: var(--transition);
}

.arrow-icon{
  color: #664EFC;
}

.info-link:hover {
  color: #d2cbff;
}

.info-section1{
  padding: 50px 0;
}
.info-section2{
  padding: 50px 0;
}

.info-image-2 {
  width: 80vw;
  margin: 0 auto;
  padding: 20px 0px;
}

@media screen and (min-width: 768px) {
  .info-section1 {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;  
    gap: 30px;
  }
  .info-image-1 {
    display: flex;
    align-items: center;
    padding: 0;
    width: 30%;
  }
  .info-content {
    width: 70%;
    margin: auto;
  }
  .info-section2 { 
    display: flex;
  }
  .info-image-2 {
    display: flex;
    padding: 0;
    width: 40vw;
    margin: 0;
  }
}

@media screen and (min-width: 1080px) {
  .info-section1 {
    padding: 50px 0px;
  }
  .info-content h1{
    font-size: 30px;
  }
  .info-content p {
    font-size: 16px;
  }
}

/* Footer section */
.footer {
  padding: 20px 0px;
}
.footer-main h1{
  padding-bottom: 10px;
}
.footer-main p{
  color: var(--grey);
  font-size: 14px;
}
.footer-link-container {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}
.footer-link h2{
  font-size: 16px;
  padding-bottom: 5px;
}
.footer-link li{
  padding: 5px 0px;
  font-size: 14px;
  font-weight: 100;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .footer-main {
    width: 60%;
  }
  .footer-link-container {
    width: 40%;
    padding-top:0px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px 20px;
  }
  .footer-link h2{
    font-size: 18px;
    padding-bottom: 5px;
  }
  .footer-link li{
    padding: 5px 0px;
    font-size: 16px;
    font-weight: 100;
  }
}

@media screen and (min-width: 1080px) {
  .footer {
    gap: 50px;
    justify-content: flex-start;
  }
  .footer-main {
    width: 40%;
  }

  .footer-link-container {
    width: 60%;
    display: flex;
  }
  .footer-link h2 {
    font-size: 20px;
  }
  .footer-link li {
    font-size: 18px;
  }
}

/* SignUp Page */
.signup-background {
  background: url(../images/gradient-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.signup-nav-header {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.back-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.signup-nav-btn {
  margin: 0px auto;
  padding: 6px 10px;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  transition: var(--transition);
}
.signup-nav-btn:hover {
  background-color: var(--hover);
}
.signup-nav-text {
  display: none;
}
.signup {
  padding-bottom: 30px;
}

.signup-content h1{
  margin-bottom: 20px;
}

.signup-content-p {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
}
.signup-content-p p{
  font-weight: 100;
  line-height: 1.5;
}
.bold{
  font-weight: 900;
}
.signup-content-icon {
  margin: 0px;
  vertical-align: top;
}

.signup-form-container {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  border: solid white 1px;
  border-radius: 5px;
  padding: 20px 16px;
}
.signup-form-container h1{
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 8px;
}
.signup-form {
  display: flex;
  flex-direction: column;
}
.signup-form label{
  margin-top: 18px;
  margin-bottom: 4px;
  font-size: 16px;
  font-family: var(--bodyFont);
}
.signup-form input {
  font-size: 14px;
  padding: 12px 6px;
  border: solid lightgray;
  border-radius: 5px;
  font-family: var(--bodyFont);
}
.signup-terms {
  margin-top: 20px;
  display: flex;
  gap: 5px;
  font-family: var(--bodyFont);
}
.signup-terms input {
  margin-top: 0;
}
.signup-terms label {
  font-weight: 300;
}
.signup-form-btn {
  margin-top: 20px;
  font-size: 16px;
  padding: 12px 0px;
  background-color: var(--primary);
  color: white;
  transition: var(--transition);
  cursor: pointer;
}
.signup-form-btn:hover{
  background-color: var(--hover);
}
@media screen and (min-width: 768px) {
  .signup-nav-text {
    font-size: 16px;
    display: block;
    margin-left: 10px;
    text-transform: capitalize;
  }
 .signup-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
}
@media screen and (min-width:768px) {
  .signup-form-container{
    padding: 50px 60px;
  }
}

@media screen and (min-width: 1080px) {
  .signup-background {
    min-height: 100vh;
  }
  .signup {
    display: flex;
    gap: 100px;
    min-height: auto;
    margin-top: 80px;
  }
  .signup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .signup-nav-text {
    font-size: 18px;
  }
}


